@import "tailwindcss";

:root {
  color-scheme: light dark;
  background-color: #0c0c0c;
  font-family: "Momo Trust Sans", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-up {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-scroll-down {
  animation: scroll-down 20s linear infinite;
}

.animate-scroll-up {
  animation: scroll-up 20s linear infinite;
}